.balance-container {
  display: flex;
  font-weight: 600;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.balance-display {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.balance-display-conversion {
  font-weight: lighter;
  font-size: 0.9rem;
  color: $light-blue-nav-link-hover;
}

.flex-container-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem 0;
}

.same-width-btn-dashboard {
width: 150px;
}