
// Mobile View
//Will display if screen is smaller than 576px
@include media-breakpoint-down(xs) {
    .custom-navbar {
        display: grid;
        grid-area: navbar;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        color: $white;
        height: $mobile-navbar-height;
        align-items: center;
    
        
    }
    .custom-navbar a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-brand {
        text-transform: lowercase;
        letter-spacing: 0.03rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: $theme-blue;

    }
    .navbar-link-text {
        display: none;
    }
    .custom-navbar .fal, .custom-navbar .fab, .custom-navbar .fad  {
        font-size: 1.3em;
    }

}

// Desktop view -- called sidenav
//Will display if screen is bigger than 576px
@include media-breakpoint-up(sm) {
    .custom-navbar {
        grid-area: sidenav;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px repeat(4, 110px) 1fr;
        color: $white;
        align-items: center;
        text-align: center;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .custom-navbar a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 0.5rem;
        background-color: $theme-blue;
    }
    .custom-navbar div {

        height: 100%;
    
        background-color: $bg;
    }
    .custom-navbar .navbar-brand {
        text-transform: lowercase;
        letter-spacing: 0.03rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        margin: 0;
        padding: 0 1rem;
        flex-direction: row;
        background-color: $theme-blue;

    }
    #active-nav {
        border-left: $neon-blue 3px solid;
        color: $theme-blue;
        background: $bg;
        border-top-left-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        margin-left: 1.5rem;
    }

    .navbar-link-text {
        margin-top: 0.5rem;
    }
    .custom-navbar .fal, .custom-navbar .fab, .custom-navbar .fad  {
        font-size: 3em;
    }

    #active-nav i,  #active-nav span {
        margin-left: -1.5rem;
        word-break: break-all;
    }

    .custom-navbar > div div:last-child{
        background-color: $theme-blue;
    }
    
    .custom-navbar > div div:last-child{
        padding-top: 2rem;
    }

    .prev-non-active-nav {
        border-bottom-right-radius: 4.0rem;
    }
    
    .post-non-active-nav {
        border-top-right-radius: 4.0rem;
    }
    
    .custom-navbar div.active-nav {
        background-color: $theme-blue;
    }
}







// Logo
.logo.fad{
    font-size: 3.5rem;
    margin-top: -1rem;
    margin-right: 0.5rem;
}

.sync-btn {
    margin-left: 0.5rem;
    font-size: 0.75rem;
}

