
.address-text-container {
  background: $lighter-gray;
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.claimable-text-container{
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.address-title {
  font-weight: 600;
}
.text-container {
  margin: 0 15vw 2rem;
}

// For a Small screen view
@include media-breakpoint-down(sm) {
  .text-container {
    margin: 2rem 0;

  }
}
.receive-radio-buttons-container {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}
.receive-radio-buttons-container h5 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.receive-radio-buttons-container ul {
  font-size: 0.9rem;
  margin-top: 1rem;
  list-style: none;
  padding: 1rem;
}
.receive-radio-buttons-container ul li:before {
  content: '✓';
  color: $wintergreen;
  margin-right: 0.5rem;
}
.receive-radio-buttons-container input[type="radio"] {
  display:none;
}

.receive-radio-buttons-container label {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem 2rem;
  margin: 1rem 2rem;
  background-color: $white;
  box-shadow: 0 5px 24px 0 rgba(0,0,100,.09);
  border-radius: 0.5rem;
  flex-grow: 1;
  flex-basis: 0;
}

.receive-radio-buttons-container label:hover {
  background-color: lighten($light-blue-nav-link, 20%);
}

.receive-radio-buttons-container input[type="radio"]:checked + label {
  background-color:$white;
  border: 2px solid $theme-blue;
  color: $theme-blue;
}

.checked-icon {
  position: relative;
  top: -1rem;
  color: transparent;
}

.receive-radio-buttons-container input[type="radio"]:checked + label .checked-icon {
  color: $theme-blue;
  background: white;
}

.qr-code-wrapper {
  width: 256px;
  margin: auto;
  margin-bottom: 1rem;
}
.qr-code-container {
  position: relative;
}
.qr-code-container:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-top: 2px solid $light-blue-nav-link;
  border-left: 2px solid $light-blue-nav-link;
}
.qr-code-container:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 2px solid $light-blue-nav-link;
  border-right: 2px solid $light-blue-nav-link;
}
.qr-code-container span:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 2px solid $light-blue-nav-link;
  border-left: 2px solid $light-blue-nav-link;
}
.qr-code-container span:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-bottom: 2px solid $light-blue-nav-link;
  border-right: 2px solid $light-blue-nav-link;
}