.navbar-brand {
    font-weight: 600;
    font-size: 2rem;
}

.top-bar{
    grid-area: topbar;
    background-color: $lighter-gray;
}

.wallet-info {
    font-weight: 600;
}


.navbar-collapse {
    background: $lighter-gray;
    text-align: right;
    padding: 1rem;
    margin-top: 0.5rem;
    z-index: 100;
}
.top-bar .navbar {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
}

// For a Mobile view
@include media-breakpoint-down(xs) {
    .navbar-collapse {
        margin-left: 10vw;
        grid-column: 1 / 4;
    }
    .top-bar .navbar {
        grid-template-columns: repeat(3, 1fr);
    }
}
// For a Desktop view
@include media-breakpoint-up(lg) {
    .navbar-collapse {
        margin-left: 60vw;
        grid-column: 1 / 3;
    }
    .top-bar .navbar {
        grid-template-columns: repeat(2, 1fr);

    }
}
@include media-breakpoint-between(sm, md) {
    .navbar-collapse {
        margin-left: 30vw;
        grid-column: 1 / 3;
    }
    .top-bar .navbar {
        grid-template-columns: repeat(2, 1fr);

    }
}

.top-bar .new-section {
    border-top: 1px solid darken($lighter-gray, 5%);
}

.top-bar .navbar-toggler{
    border: 0;
    width: 45px;
    height: 30px;
    display: flex;
    padding: 0;
    justify-content: center;
}

.nav-item-right {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

