$theme-blue: #3D91F9;
$bg: #f4f6f8;
$light-gray: #c8d6e5;
$lighter-gray: #f8f9fa;
$table-border: #dee2e6;
$light-blue-nav-link: lighten($theme-blue, 15%);
$light-blue-nav-link-hover: darken($theme-blue, 25%);
$neon-blue: #18dcff;
$wintergreen: #32ff7e;
$bright-red: #FC427B;
$honey-yellow: #EAB543;
$body-text: #434d57;
$white: #fff;
$text-secondary: #6c757d;