

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap');

@font-face {
  font-family: 'Nunito Bold';
  src: url('/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:   url('./fonts/Nunito/Nunito-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}



